
.banner h2 {
    text-align: center;
    font-size: 96px;
    font-weight: bold;
    background-image: linear-gradient(70deg, #8983ba 0%, #8983ba 10%, #9e98cc 30%, #c29abe 40%, #e197b0 50%, #ff9a7d 75%, #ffb467 85%, #ffda8e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.screen h2.main-h {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    background-image: linear-gradient(70deg, #8983ba 0%, #8983ba 10%, #9e98cc 30%, #c29abe 40%, #e197b0 50%, #ff9a7d 75%, #ffb467 85%, #ffda8e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.screen {
	padding : 80px 0px;
	background: #f5f5f7;
}
.screen h3 {
    font-size: 48px;
    font-weight: 700;
}
.screen p {
    color: black;
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.20841;
    font-weight: 600;
    letter-spacing: 0em;
}
.banner img {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.services {
    margin-top: 100px;
}
.top-line {
    margin-bottom: 30px;
    border-bottom: 4px solid #eee;
    width: 85%;
}
.services p {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 500;
    color: black;
    margin-top: 15px;
}
.m-30 {
margin-bottom: 80px;
}
/* Banner Style */
.main-banner .container-fluid {
	padding: 0px 10px;
	margin-bottom: -24px;
}
.banner {
	padding-top: 150px;
}
.banner p {
    text-align: center;
    font-size: 24px;
    color: black;
    font-weight: bold;
}
.img-text {
	display: flex;
}
.img-text img {
    width: 55px;
    height: 55px;
    margin-right: 17px;
    margin-top: 17px;
}
.img-text p {
    font-size: 17px;
    line-height: 1.29412;
    font-weight: 600;
}
img.bg-img {
    position: absolute;
    right: 149px;
    top: -15px;
}
.m-t h3 {
    margin-top: 25px;
}
.feature-product h2 {
	text-align: center;
    font-size: 96px;
    font-weight: bold;
    background-image: linear-gradient(70deg, #8983ba 0%, #8983ba 10%, #9e98cc 30%, #c29abe 40%, #e197b0 50%, #ff9a7d 75%, #ffb467 85%, #ffda8e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.feature-product {
	padding : 80px 0px;
	
}
.feature-product .col-lg-4 {
    text-align: center;
}
.feature-product img {
    margin-bottom: 25px;
}
.feature-product h3 {
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 600;
}
.feature-product p {
    font-size: 17px;
    line-height: 1.47059;
    margin-top: 10px;
    color: black;
    font-weight: 600;
}
p.btn {
    color: #000;
    background-color: #e8e8ed;
  
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    border-radius: 18px;
    display: block;
    width: 205px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
}
section.started {
    background-image: url(../images/bg-img.jpg);
    padding: 80px 0px;
    text-align: center;
}
.started h3 {
    font-size: 96px;
    line-height: 1.04167;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}
.started p {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 700;
    color: black;
}
p.btn {
    font-size: 17px;
    line-height: 1.29412;
    font-weight: 400;
    background: white;
    width: 105px;
    color: black;
}

/* 
img.bg-img {
    position: absolute;
    right: 210px;
}
TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

*/

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
	margin-bottom: 0px;
	font-size: 15px;
	font-weight: 400;
	color: #7a7a7a;
	line-height: 30px;
}
a {
	text-decoration: none!important;
}
ul {
	padding: 0;

	margin: 0;
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

.main-button a {
	display: inline-block;
	background-color: #06c;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	padding: 12px 20px;
	text-transform: uppercase;
	transition: all .3s;
}

.main-button a:hover {
	background-color: #fb9857;
}

.heading-page {
	padding-top: 110px;
}

.page-heading {
	margin: 0px 10px;
	padding: 120px 0px;
	text-align: left;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/heading-bg.jpg);
}

.page-heading .text-content h4 {
	color: #06c;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
}

.page-heading .text-content h2 {
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

#preloader {
  overflow: hidden;
  background: #06c;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* Header Style */
header {
	position: absolute;
	z-index: 99999;
	width: 100%;
	height: 60px;
	background-color: #f7f7f7;
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
header .navbar {
	padding: 6px 0px;
}
.background-header .navbar {
	padding: 6px 0px;
}
.background-header {
	top: 0;
	height: 60px;
	position: fixed;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}
.background-header .navbar-brand h2 {
	color: #121212!important;
}
.background-header .navbar-nav a.nav-link {
	color: #1e1e1e!important;
}
.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
	color: #06c!important;
}
.navbar .navbar-brand {
	float: 	left;
	margin-top: -12px;
	outline: none;
}
.navbar .navbar-brand h2 {
	color: #000;
	
	font-size: 20px;
	font-weight: 600;
	-webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.navbar .navbar-brand h2 em {
	font-size: 44px;
	font-style: normal;
	color: #06c;
}
#navbarResponsive {
	z-index: 999;
}
.navbar-collapse {
	text-align: center;
}
.navbar .navbar-nav .nav-item {
	margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
	
	font-size: 13px;
	font-weight: 800;
	
	letter-spacing: 0.5px;
	color: #1e1e1e;
	transition: all 0.3s;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
	color: #06c;
}
.navbar .navbar-toggler-icon {
	background-image: none;
}
.navbar .navbar-toggler {
	border-color: #fff;
	background-color: #06c;	
	height: 46px;
	outline: none;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	top: 25px;
}
.navbar .navbar-toggler-icon:after {
	content: '\f0c9';
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	font-family: 'FontAwesome';
}

